extends base.pug

block content
    h3 #{video.meta.views} #{video.meta.views === 1 ? "view" : "views"}
    div
        p=video.description
        br
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;  
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;  